<% provide :title, t(".login") %>
<section class="normal-breadcrumb set-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="normal__breadcrumb__text">
          <h2><%= t ".login" %></h2>
          <p><%= t ".p" %></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="login spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login__form">
          <h3><%= t ".login"%></h3>
          <%= form_for :session, url: login_path do |f| %>
            <div class="input__item">
              <%= f.email_field :email, placeholder: t(".email") %>
              <span ><i class="fa-solid fa-envelope"></i></span>
            </div>
            <div class="input__item">
              <%= f.password_field :password, placeholder: t(".password") %>
              <span class="icon_lock"></span>
            </div>
            <div>
              <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span class="white_a"><%= t ".remember_me" %></span>
              <% end %>
            </div>
            <%= f.submit t(".login"), class: "site-btn" %>
          <% end %>
          <%= link_to t(".forgot_password"), new_password_reset_path, class: "forget_pass" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login__register">
          <h3><%= t ".new_user" %></h3>
          <%= link_to t(".sign_up_now"), signup_path, class: "primary-btn" %>
        </div>
      </div>
    </div>
    <div class="login__social">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="login__social__links">
            <span><%= t ".or" %></span>
            <ul>
              <li>
                <%= link_to "#", class: "facebook" do %>
                  <i class="fa-brands fa-facebook-f"></i><%= t ".facebook" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: "google" do %>
                  <i class="fa-brands fa-google"></i><%= t ".google" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#", class: "twitter" do %>
                  <i class="fa-brands fa-twitter"></i><%= t ".twitter" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
