<div class="col-lg-4 col-md-6 col-sm-6">
    <div class="product__item">
      <% if movie.image.attached? %>
        <div class="product__item__pic" style="background-image: url(<%= url_for movie.image %>);">
      <% else %>
        <div class="product__item__pic" style="background-image: url(<%= movie.thumbnail %>);">
      <% end %>
          <div class="ep1"><%= movie.status %></div>
          <div class="comment"><i class="fa fa-comments"></i></div>
          <div class="view"><i class="fa fa-eye"></i></div>
        </div>
        <div class="product__item__text">
          <ul>
            <li><%= movie.genre_name %></li>
          </ul>
          <h5><%= link_to movie.title, movie_path(movie) %></h5>
        </div>
    </div>
</div>
