<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="input__item">
    <%= f.email_field :email, placeholder: t(".email") %>
    <span ><i class="fa-solid fa-envelope"></i></span>
  </div>
  <div class="input__item">
    <%= f.text_field :name, placeholder: t(".name") %>
    <span class="icon_profile"></span>
  </div>
  <div class="input__item">
    <%= f.password_field :password, placeholder: t(".password") %>
    <span class="icon_lock"></span>
  </div>
  <div class="input__item">
    <%= f.password_field :password_confirmation, placeholder: t(".password_confirmation") %>
    <span class="icon_key"></span>
  </div>
  <div class="input__item">
    <%= f.date_field :date_of_birth, placeholder: t(".date_of_birth") %>
    <span class="icon_id_alt"></span>
  </div>
  <div class="input__item">
    <%= f.number_field :phone_number, placeholder: t(".phone_number") %>
    <span class="icon_phone"></span>
  </div>
  <%= f.submit yield(:button_text), class: "site-btn" %>
<% end %>
