<tr>
  <th><%= payment.movie_title %></th>
  <th><%= payment.date %></th>
  <th><%= l(payment.start_time, format: :short) %></th>
  <th><%= number_booked_seat(payment) %>/<%= total_seat(payment)%></th>
  <th><%= number_to_currency(revenue(payment)) %></th>
  <th>
    <%= link_to admin_payment_path(payment.id), remote: true do %>
      <span class="fa fa-pencil-square-o"></span>
    <% end %>
  </th>
</tr>
