<% provide :title, t(".payment") %>

<h1><%= t ".payment" %></h1>
<%= render partial: "search" %>
<table>
  <thead>
    <tr>
      <th><%= t ".title" %></th>
      <th><%= t ".date" %></th>
      <th><%= t ".time" %></th>
      <th><%= t ".number_booked_seat" %></th>
      <th><%= t ".revenue" %></th>
      <th><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "payment", collection: @shows %>
  </tbody>
</table>

<%== pagy_bootstrap_nav @pagy %>

<div id="payment-content"></div>
