<tr>
  <th><%= show.id %></th>
  <th><%= show.date %></th>
  <th><%= show.movie_title %></th>
  <th><%= show.room_name %></th>
  <th><%= l(show.start_time, format: :short) %></th>
  <th><%= l(show.end_time, format: :short) %></th>
  <th>
    <%= link_to edit_admin_show_path(show) do %>
      <span class="fa fa-pencil"></span>
    <% end %>
    <%= link_to admin_show_path(show), method: :delete,
          data: { confirm: "Are you sure?"} do %>
      <span class="fa fa-trash"></span>
    <% end %>
  </th>
</tr>
