<% provide :title, t(".show") %>

<h1><%= t ".show" %></h1>
<%= link_to new_admin_show_path, class: "new-genre" do %>
  <span class="fa fa-plus-circle circle"></span>
  <%= t ".create" %>
<% end %>
<table>
  <tr>
    <th>STT</th>
    <th><%= t ".date" %></th>
    <th><%= t ".movie" %></th>
    <th><%= t ".room" %></th>
    <th><%= t ".start_time" %></th>
    <th><%= t ".action" %></th>
  </tr>
  <tbody>
    <%= render @shows %>
  </tbody>
</table>

<%== pagy_bootstrap_nav @pagy %>
