<% provide :title, t(".show") %>

<h1><%= t ".show" %></h1>
<%= render partial: "search" %>

<%= link_to new_admin_show_path, class: "new-genre" do %>
  <span class="fa fa-plus-circle circle"></span>
  <%= t ".create" %>
<% end %>
<div class="table-users">
  <table cellspacing="0">
    <thead>
      <tr>
        <th>STT</th>
        <th><%= sort_link @search, :date, t(".date") %></th>
        <th><%= t ".movie" %></th>
        <th><%= t ".room" %></th>
        <th><%= t ".start_time" %></th>
        <th><%= t ".end_time" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @shows %>
    </tbody>
  </table>
</div>

<%== pagy_bootstrap_nav @pagy %>
