<tr>
  <th><%= movie.id %></th>
  <th><%= movie.title %></th>
  <th><%= image_tag(movie.image, class:"image_tag") if movie.image.attached? %></th>
  <th><%= movie.language %></th>
  <th><%= movie.status %></th>
  <th>
    <%= link_to edit_admin_movie_path(movie) do %>
      <span class="fa fa-pencil"></span>
    <% end %>
    <%= link_to admin_movie_path(movie), method: :delete,
          data: { confirm: t(".confirm")} do %>
      <span class="fa fa-trash"></span>
    <% end %>
  </th>
</tr>
