<% provide :title, t(".movie") %>

<h1><%= t ".movie" %></h1>
<%= link_to new_admin_movie_path, class: "new-genre" do %>
  <span class="fa fa-plus-circle circle"></span>
  <%= t ".create" %>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= t ".id" %></th>
      <th><%= t ".movie" %></th>
      <th><%= t ".release_date" %></th>
      <th><%= t ".duration" %></th>
      <th><%= t ".language" %></th>
      <th><%= t ".cast" %></th>
      <th><%= t ".director" %></th>
      <th><%= t ".status" %></th>
      <th><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "movie", collection: @movies %>
  </tbody>
</table>

<%== pagy_bootstrap_nav @pagy %>
