<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle"> <i class="fa fa-bars" id="header-toggle"></i> </div>
    <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
  </header>
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <%= link_to admin_movies_path, class: "nav_link active" do %>
          <i class="fa fa-home"></i>
          <span class="nav_logo-name"><%= t ".dashboard" %></span>
        <% end %>
        <div class="nav_list">
          <%= link_to admin_movies_path, class: "nav_link" do %>
            <i class="fa fa-film nav_icon"></i>
            <span class="nav_name"><%= t ".movies" %></span>
          <% end %>
          <%= link_to admin_users_path, class: "nav_link" do %>
            <i class="fa fa-users nav_icon"></i>
            <span class="nav_name"><%= t ".users" %></span>
          <% end %>
          <%= link_to admin_genres_path, class: "nav_link" do %>
            <i class='fa fa-clone nav_icon'></i>
            <span class="nav_name"><%= t ".genres" %></span>
          <% end %>
          <%= link_to admin_shows_path, class: "nav_link" do %>
            <i class='fa fa-ticket nav_icon'></i>
            <span class="nav_name"><%= t ".shows" %></span>
          <% end %>
          <%= link_to admin_payments_path, class: "nav_link" do %>
            <i class='fa fa-credit-card nav_icon'></i>
            <span class="nav_name"><%= t ".revenue" %></span>
          <% end %>
        </div>
      </div>
      <%= link_to destroy_user_session_path, method: :delete, class: "nav_link" do %> 
        <i class='fa fa-sign-out'></i> 
        <span class="nav_name"><% t ".signout" %></span> 
      <% end %>
    </nav>
  </div>
