<tr>
  <th><%= user.id %></th>
  <th><%= user.name %></th>
  <th><%= user.email %></th>
  <th><%= number_to_currency(total_payment(user)) %></th>
  <th>
    <%= link_to admin_user_path(user.id), remote: true do %>
      <span class="fa fa-eye"></span>
    <% end %>
  </th>
</tr>
