<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <%= link_to root_path do %>
            <i class="fa fa-home"></i><%= t ".home" %>
          <% end %>
          <%= link_to t(".movies"), movie_path(params[:movie_id]) %>
          <span><%= t ".shows" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="normal-breadcrumb set-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="normal__breadcrumb__text">
          <h2><%= t ".shows_list" %></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<%= search_form_for @search_show, url: movie_shows_path, remote: true do |f| %>
  <div class="row top_mar">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
      <%= f.label :date, t(".at"), class:"form-label white_text" %>
      <%= f.date_field :date_date_equals, class:"form-control" %>
    </div>
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-2">
      <label class="form-label"> .</label>
      <button type="submit" class="btn btn-danger w-100">
        <i class="fas fa-search search-book"></i>
        <span><%= t ".search" %></span>
      </button>
    </div>
  </div>
<% end %>
<section class="blog spad">
  <div class="container">
    <div class="col-lg-12">
      <div class="row" id="shows_list">
        <%= render @shows %>
      </div>
      <% if @shows.present? %>
        <div id="pagy">
          <%= render partial: "shared/pagy", locals: { pagy: @pagy } %>
        </div>
      <% end %>
    </div>
  </div>
</section>
