<footer class="footer">
  <div class="page-up">
    <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer__logo">
          <%= link_to image_tag("logo1.png", class: "logo-image"), "#" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer__nav">
          <ul>
            <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <p>
          <%= t ".copyright" %> &copy;<%= Time.now.year %> <%= t ".reserved" %> <i class="fa fa-heart" aria-hidden="true"></i> <%= t ".by" %> <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </p>
      </div>
    </div>
  </div>
</footer>
