<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo logo">
          <%= link_to image_tag("logo1.png", class: "logo-image"), root_path %>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li class="active"><%= link_to t(".homepage"), root_path %></li>
              <% if user_signed_in? %>
                <li><<%= link_to t(".favorites"), favorites_path %></li>
                <li><%= link_to t(".orders_history"), order_historys_path %></li>
                <li>
                  <%= link_to edit_user_registration_path do%>
                    <i class="fa-solid fa-user"></i>
                    <span>     </span>
                    <%= current_user.name %>
                  <% end %>
                </li>
                <li><%= link_to t(".log_out"), destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to t(".sign_up"), new_user_registration_path %></li>
                <li><%= link_to t(".log_in"), new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="header__right">
          <ul>
            <li>
              <a class="search-switch hover_a"><i class="fa fa-search" aria-hidden="true"></i>
                <div class="searching">
                  <%= search_form_for @search,as: :m, url: root_path, class: "search-model-form" do |f| %>
                    <%= f.search_field :title_or_description_or_genre_name_cont, placeholder: t(".searching"), id: "search-input" %>
                  <% end %>
                </div>
              </a>
            </li>
              <% if have_payment? %>
                <li>
                  <%= link_to payment_path(current_payment) do %>
                    <i class="fa-solid fa-cart-arrow-down"></i>
                  <% end%>
                </li>
              <% end %>
            <li>
              <%= link_to t(".english"), locale: :en %>
              <%= link_to t(".vietnamese"), locale: :vi %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
