<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo logo">
          <%= link_to image_tag("logo1.png", class: "logo-image"), root_path %>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li class="active"><%= link_to t(".homepage"), root_path %></li>
              <li><a href="#"><%= t ".booking" %></a></li>
              <li><a href="#"><%= t ".blog" %></a></li>
              <li><a href="#"><%= t ".contact" %></a></li>
              <li><a href="#"><%= t ".member" %></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="header__right">
          <ul>
            <li>
              <a href="#" class="search-switch"><i class="fa fa-search" aria-hidden="true"></i></a>
            </li>
            <% if logged_in? %>
              <li>
                <a><i class="fa-solid fa-user"></i></a>
                <ul class="dropdown">
                  <li><%= link_to t(".edit"), "#" %></li>
                  <li>
                    <%= link_to t(".log_out"), logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to login_path do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to t(".english"), locale: :en %>
              <span> | </span>
              <%= link_to t(".vietnamese"), locale: :vi %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
